@font-face{font-family:'TheinMed';src:url("../fonts/Theinhardt-Medium.otf")}
@font-face{font-family:'TheinReg';src:url("../fonts/Theinhardt-Regular.otf")}
@font-face{font-family:'TheinRegIta';src:url("../fonts/Theinhardt-RegularIta.otf")}
@font-face{font-family:'TheinThin';src:url("../fonts/Theinhardt-Thin.otf")}
@font-face{font-family:'TheinLight';src:url("../fonts/Theinhardt-Light.otf")}
@font-face{font-family:'TheinLightIta';src:url("../fonts/Theinhardt-LightIta.otf")}
@font-face{font-family:'TheinBold';src:url("../fonts/Theinhardt-Bold.otf")}
@font-face{font-family:'TheinBoldIta';src:url("../fonts/Theinhardt-BoldIta.otf")}

$tan: #f7e5d6;
$myblue: #0C3CB5;
$mywhite: #FCFCFC;

body {
  background-color: $tan;
  font-family: 'TheinReg';
}

#container {
  display: flex;
  flex-flow: row wrap;
}

#years {
  ul {
    display: flex;
    list-style-type: none;
    font-family: 'TheinMed';
    color: $mywhite;
    margin: 0;
    padding: 0 0 0 50px;
    flex: 100%;
    li {
      display: inline;
      background-color: $myblue;
      padding: 20px 10px;
      margin: 0 5px;
    }
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  color: $myblue;
  flex: 100%;
}
p {
  font-family: 'TheinReg';
}
