@font-face {
  font-family: 'TheinMed';
  src: url("../fonts/Theinhardt-Medium.otf");
}
@font-face {
  font-family: 'TheinReg';
  src: url("../fonts/Theinhardt-Regular.otf");
}
@font-face {
  font-family: 'TheinRegIta';
  src: url("../fonts/Theinhardt-RegularIta.otf");
}
@font-face {
  font-family: 'TheinThin';
  src: url("../fonts/Theinhardt-Thin.otf");
}
@font-face {
  font-family: 'TheinLight';
  src: url("../fonts/Theinhardt-Light.otf");
}
@font-face {
  font-family: 'TheinLightIta';
  src: url("../fonts/Theinhardt-LightIta.otf");
}
@font-face {
  font-family: 'TheinBold';
  src: url("../fonts/Theinhardt-Bold.otf");
}
@font-face {
  font-family: 'TheinBoldIta';
  src: url("../fonts/Theinhardt-BoldIta.otf");
}
$tan: #f7e5d6;
$myblue: #0C3CB5;
$mywhite: #FCFCFC;
$blue2: #002B55;

img {
  max-width: 100%;
}

body {
  background-color: $tan;
  font-family: 'TheinReg';
}

#selected-year {
  font-family: 'TheinBold';
  font-size: 200px;
  position: absolute;
  z-index: -2;
  color: #FCF0EF;
  right: 0;
  top: 50px;
}

#container {
  display: flex;
  flex-flow: row wrap;
}

#positions,
#years {
  ul {
    display: flex;
    list-style-type: none;
    font-family: 'TheinMed';
    color: $mywhite;
    margin: 0;
    flex: 100%;

    li {
      display: inline;
      background-color: $myblue;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $blue2;
      }
    }
  }
}

#years {
  flex: 100%;

  ul {
    padding: 0 0 0 100px;

    li {
      top: -20px;
      position: relative;
      padding: 40px 10px 20px;
      margin: 0 5px;

      &:hover {
        top: 0;
      }
    }

    .active {
      background-color: $blue2;
      top: 0;
    }
  }
}

#positions {
  ul {
    padding: 50px 0 0;
    margin: 0 130px 0 0;
    flex-flow: column nowrap;

    li {
      position: relative;
      left: -20px;
      padding: 10px 20px 10px 40px;
      margin: 5px 0;
      transition: 0.2s;

      &:hover {
        left: 0;
      }
    }

    .active {
      background-color: $blue2;
      left: 0;
    }
  }
}

#main-content {
  margin: 0 20px;
  max-width: 800px;
  align-self: center;
  flex: 1 1 400px;

  img {
    max-width: 100%;
  }
}

#rank-number {
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  color: $myblue;
}

#rank-number:before {
  content: '#';
}

#album-art {
  max-width: 600px;
}

#genres {
  font-family: 'TheinBold', serif;
  font-size: 30px;
  color: $myblue;
  margin: 20px 0;
}
#player-container {
  margin: 40px 0 100px 0;
  max-width: 600px;
  text-align: center;
}
#spotify, #soundcloud, #bandcamp, #youtube {
  a {
    font-family: 'TheinReg';
    padding: 15px;
    border-radius: 30px;
    color: $mywhite;
    text-decoration: none;
    transition: 0.3s;
  }
}
#spotify {
  a {
    background-color: #6AE368;
  }
  a:hover {
    background-color: #46D546;
  }
}
#soundcloud {
  a {
    background-color: #ff7700;
  }
  a:hover {
    background-color: #ff993f;
  }
}
#bandcamp {
  a {
    background-color: #639AA9;
  }
  a:hover {
    background-color: #3F7D8E;
  }
}
#youtube {
  a {
    background-color: #c4302b;
  }
  a:hover {
    background-color: #922320;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  color: $myblue;
  margin: 20px 0;
  line-height: 100px;

  .highlighting {
    background-color: $mywhite;
    padding: 20px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

p {
  font-family: 'TheinReg';
}
