@font-face{font-family:'TheinMed';src:url("../fonts/Theinhardt-Medium.otf")}
@font-face{font-family:'TheinReg';src:url("../fonts/Theinhardt-Regular.otf")}
@font-face{font-family:'TheinRegIta';src:url("../fonts/Theinhardt-RegularIta.otf")}
@font-face{font-family:'TheinThin';src:url("../fonts/Theinhardt-Thin.otf")}
@font-face{font-family:'TheinLight';src:url("../fonts/Theinhardt-Light.otf")}
@font-face{font-family:'TheinLightIta';src:url("../fonts/Theinhardt-LightIta.otf")}
@font-face{font-family:'TheinBold';src:url("../fonts/Theinhardt-Bold.otf")}
@font-face{font-family:'TheinBoldIta';src:url("../fonts/Theinhardt-BoldIta.otf")}

$tan: #f7e5d6;
$myblue: #0C3CB5;
$mywhite: #FCFCFC;

body {
  background-color: $tan;
  font-family: 'TheinReg';
}
#selected-year {
  font-family: 'TheinBold';
  font-size: 200px;
  position: absolute;
  z-index: -2;
  color: #FCF0EF;
  right: 0;
  top: 50px;
}
#container {
  display: flex;
  flex-flow: row wrap;
}

#years, #positions {
  ul {
    display: flex;
    list-style-type: none;
    font-family: 'TheinMed';
    color: $mywhite;
    margin: 0;
    flex: 100%;
    li {
      display: inline;
      background-color: $myblue;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #002b55;
      }
    }
  }
}

#years {
  flex: 100%;
  ul {
    padding: 0 0 0 50px;
    li {
      padding: 20px 10px;
      margin: 0 5px;
    }
  }
}

#positions {
  ul {
    padding: 50px 0 0 0;
    flex-flow: column nowrap;
    li {
      padding: 10px 20px;
      margin: 5px 0;
    }
  }
}

#main-content {
  margin: 0 0 0 150px;
}

#rank-number {
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  color: $myblue;
}

#album-art {
  img {
  max-width: 600px;
}
}

h1 {
  font-family: 'Playfair Display', serif;
  color: $myblue;
  margin: 50px 0;
  .highlighting {
    background-color: $mywhite;
      padding: 20px 10px;
  }
}
p {
  font-family: 'TheinReg';
}
