$mywhite: #FCFCFC;
$myblue: #0C3CB5;

#show-all-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 135px;
  justify-content: center;

  .item {
    flex: 1 1 210px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 300px;

    .image-container {
      position: relative;

      img {
        opacity: 1;
        max-width: 100%;
        transition: 0.25s;
        overflow: hidden;
        box-sizing: border-box;
      }

      .meta-hover {
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: rgba(255,255,255,0.7);
        transition: 0.35s;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .text {
          font-size: 100px;
          font-family: 'Playfair Display';
          font-weight: 700;
          position: relative;
          color: $myblue;
          margin-bottom: 35px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .meta {
    opacity: 1;
    transition: 0.3s ease;
    background-color: $mywhite;
    color: $myblue;
    font-family: theinMed;
    font-size: 20px;
    padding: 10px 15px;
  }
}
